In [3]:
import pandas as pd

In [5]:
df=pd.read_csv('../data/data_transformacion_limpieza.csv')
df.sample(5)

,campaign_id,company,campaign_type,target_audience,duration,channel_used,conversion_rate,acquisition_cost,roi,location,language,clicks,impressions,engagement_score,customer_segment,date,total($)
10419,10420,Alpha Innovations,Influencer,NaN,45 days,Email,"0,02","$17,642.00",22.8989,NaN,NaN,999999.00,21382138.00,44.00,Foodies,2021-07-19,"$17,642.00"
209896,111807,DataTech Solutions,Social Media,All Ages,30 days,Google Ads,00.11,"$13,950.00",55.0202,New York,German,"371,0","9345,0",99.00,Foodies,2021-04-27,"$13,950.00"
25794,25795,DataTech Solutions,Social Media,Women 25-34,60 days,Instagram,"0,1","$7,390.00",44.9191,Los Angeles,English,"129,0",NaN,99.00,Foodies,2021-09-02,"$7,390.00"
186780,186781,Innovate Industries,Influencer,NaN,60 days,Website,00.0707,"$5,983.00",22.4545,Houston,Spanish,477477.00,18301830.00,99.00,Outdoor Adventurers,2021-09-23,"$5,983.00"
33727,33728,TechCorp,Search,Women 35-44,15 days,Email,00.1414,"$14,330.00",44.2828,Miami,Spanish,948948.00,96169616.00,22.00,Foodies,2021-05-28,"$14,330.00"

## Descripción de campos

- **Campaign ID**: Identificador único de la campaña.
- **Company**: Nombre de la empresa que gestiona la campaña.
- **Campaign Type**: Tipo de campaña (por ejemplo, digital, impresa).
- **Target Audience**: Público objetivo al que está dirigida la campaña.
- **Duration**: Duración total de la campaña.
- **Channel Used**: Canal utilizado para la campaña (por ejemplo, redes sociales, televisión).
- **Conversion Rate**: Tasa de conversión lograda por la campaña.
- **Acquisition Cost**: Costo de adquisición por cliente.
- **ROI**: Retorno de la inversión (Return on Investment) de la campaña.
- **Location**: Ubicación geográfica donde se ejecuta la campaña.
- **Language**: Idioma utilizado en la campaña.
- **Clicks**: Número de clics recibidos durante la campaña.
- **Impressions**: Número de impresiones generadas.
- **Engagement Score**: Puntaje de interacción de la campaña.
- **Customer Segment**: Segmento de clientes al que se dirige la campaña.
- **Date**: Fecha de inicio de la campaña.
- **Total($)**: Total en dólares generado o invertido en la campaña.

In [14]:
nulos=df.isnull().sum()/df.shape[0]*100
nulos

campaign_id          0.000000
company              7.231975
campaign_type        8.755925
target_audience     13.631232
duration             8.863588
channel_used        10.715766
conversion_rate      4.498964
acquisition_cost     3.850606
roi                 17.376557
location            12.086797
language            12.866160
clicks              14.853155
impressions         10.217469
engagement_score    11.368411
customer_segment     6.265393
date                 3.290856
total($)             3.850606
dtype: float64

In [15]:
df.duplicated().sum()

np.int64(17)

In [17]:
for col in df.select_dtypes(include='O').columns:
  print(df[col].value_counts())
  print('_______________')

company
TechCorp               39210
Alpha Innovations      39090
DataTech Solutions     38889
NexGen Systems         38879
Innovate Industries    38666
Name: count, dtype: int64
_______________
campaign_type
Influencer      38430
Search          38319
Email           38292
Social Media    38280
Display         38214
Name: count, dtype: int64
_______________
target_audience
Men 18-24      36633
Women 25-34    36349
All Ages       36243
Men 25-34      36170
Women 35-44    35906
Name: count, dtype: int64
_______________
duration
30 days    48123
45 days    47906
60 days    47691
15 days    47589
Name: count, dtype: int64
_______________
channel_used
Email         31461
Instagram     31428
Google Ads    31299
YouTube       31297
Website       31149
Facebook      30787
Name: count, dtype: int64
_______________
conversion_rate
00.1313    7383
0,11       7315
00.11      7266
0,03       7262
0,1        7235
00.0606    7227
00.0202    7226
0,04       7225
0,02       7200
00.0909    7183
0,06       7183
0,13       7173
00.1212    7169
0,12       7167
00.0404    7158
00.1111    7157
0,09       7157
0,08       7132
00.0808    7126
0,05       7118
00.1414    7089
0,07       7058
00.0505    7038
0,14       7027
00.0707    7003
00.0303    6992
0,15       3619
00.1515    3549
00.0101    3519
0,01       3515
Name: count, dtype: int64
_______________
acquisition_cost
$16,578.00    33
$6,570.00     30
$8,503.00     30
$17,380.00    29
$9,128.00     29
              ..
$9,912.00      3
$7,878.00      3
$14,068.00     2
$9,623.00      2
$18,117.00     2
Name: count, Length: 15001, dtype: int64
_______________
roi
6,05       189
7,43       186
77.4343    183
44.2222    182
5,95       181
          ...
3,93       105
22.00       76
88.00       74
8,0         72
2,0         62
Name: count, Length: 1202, dtype: int64
_______________
location
Miami          37240
Chicago        36972
Los Angeles    36897
New York       36779
Houston        36655
Name: count, dtype: int64
_______________
language
Mandarin    36841
Spanish     36747
German      36571
English     36424
French      36324
Name: count, dtype: int64
_______________
clicks
483,0        134
319,0        134
297,0        131
646,0        130
140,0        129
            ...
287,0         73
603603.00     73
277277.00     72
553,0         71
894894.00     71
Name: count, Length: 1802, dtype: int64
_______________
impressions
8037,0         25
42894289.00    25
67076707.00    25
9798,0         25
24032403.00    25
               ..
91009100.00     1
7088,0          1
6834,0          1
5522,0          1
6325,0          1
Name: count, Length: 18002, dtype: int64
_______________
engagement_score
5,0        9453
99.00      9436
22.00      9382
3,0        9381
2,0        9360
4,0        9348
44.00      9314
10,0       9309
9,0        9298
1,0        9291
1010.00    9284
66.00      9282
77.00      9282
88.00      9268
8,0        9256
7,0        9250
55.00      9224
33.00      9221
6,0        9219
11.00      9193
Name: count, dtype: int64
_______________
customer_segment
Foodies                39571
Tech Enthusiasts       39518
Outdoor Adventurers    39324
Health & Wellness      39212
Fashionistas           39138
Name: count, dtype: int64
_______________
date
2021-09-10    579
2021-09-03    575
2021-08-18    572
2021-05-07    571
2021-04-16    571
             ...
2021-04-11    542
2021-01-05    542
2021-11-23    542
2021-05-01    541
2021-05-31    539
Name: count, Length: 365, dtype: int64
_______________
total($)
$16,578.00    33
$6,570.00     30
$8,503.00     30
$17,380.00    29
$9,128.00     29
              ..
$9,912.00      3
$7,878.00      3
$14,068.00     2
$9,623.00      2
$18,117.00     2
Name: count, Length: 15001, dtype: int64
_______________