In [1]:
import pandas as pd
import numpy as np

import sys
sys.path.append('..')
from src import soporte_analisis as sp

In [2]:
df=pd.read_csv('../data/data_transformacion_limpieza.csv')

In [3]:
sp.eda_preliminar(df)

,campaign_id,company,campaign_type,target_audience,duration,channel_used,conversion_rate,acquisition_cost,roi,location,language,clicks,impressions,engagement_score,customer_segment,date,total($)
1280,1281,NexGen Systems,Email,NaN,NaN,Email,00.0707,"$13,432.00",NaN,Los Angeles,Spanish,"197,0","5963,0",NaN,Fashionistas,2021-07-05,"$13,432.00"
83551,83552,DataTech Solutions,Search,NaN,NaN,Instagram,"0,04","$17,373.00",33.8282,NaN,German,"681,0",NaN,"6,0",Fashionistas,2021-11-28,"$17,373.00"
48844,48845,NexGen Systems,Influencer,Men 18-24,60 days,Email,00.0202,"$8,788.00","7,3",New York,Mandarin,"827,0",48924892.00,66.00,Outdoor Adventurers,2021-10-27,"$8,788.00"
46762,46763,TechCorp,Email,Women 25-34,30 days,Email,00.11,NaN,"6,28",NaN,English,810810.00,80048004.00,55.00,Health & Wellness,2021-02-12,NaN
137160,137161,Alpha Innovations,Influencer,Men 18-24,60 days,Website,00.1212,"$12,720.00",77.2323,Los Angeles,Mandarin,NaN,"4139,0","2,0",Foodies,2021-10-13,"$12,720.00"

________________
INFO
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209915 entries, 0 to 209914
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   campaign_id       209915 non-null  int64
 1   company           194734 non-null  object
 2   campaign_type     191535 non-null  object
 3   target_audience   181301 non-null  object
 4   duration          191309 non-null  object
 5   channel_used      187421 non-null  object
 6   conversion_rate   200471 non-null  object
 7   acquisition_cost  201832 non-null  object
 8   roi               173439 non-null  object
 9   location          184543 non-null  object
 10  language          182907 non-null  object
 11  clicks            178736 non-null  object
 12  impressions       188467 non-null  object
 13  engagement_score  186051 non-null  object
 14  customer_segment  196763 non-null  object
 15  date              203007 non-null  object
 16  total($)          201832 non-null  object
dtypes: int64(1), object(16)
memory usage: 27.2+ MB
________________
NULOS

campaign_id          0.00
company              7.23
campaign_type        8.76
target_audience     13.63
duration             8.86
channel_used        10.72
conversion_rate      4.50
acquisition_cost     3.85
roi                 17.38
location            12.09
language            12.87
clicks              14.85
impressions         10.22
engagement_score    11.37
customer_segment     6.27
date                 3.29
total($)             3.85
dtype: float64

________________
DUPLICADOS

np.int64(17)

________________
VALORES ÚNICOS
company
TechCorp               39210
Alpha Innovations      39090
DataTech Solutions     38889
NexGen Systems         38879
Innovate Industries    38666
Name: count, dtype: int64
_______________
campaign_type
Influencer      38430
Search          38319
Email           38292
Social Media    38280
Display         38214
Name: count, dtype: int64
_______________
target_audience
Men 18-24      36633
Women 25-34    36349
All Ages       36243
Men 25-34      36170
Women 35-44    35906
Name: count, dtype: int64
_______________
duration
30 days    48123
45 days    47906
60 days    47691
15 days    47589
Name: count, dtype: int64
_______________
channel_used
Email         31461
Instagram     31428
Google Ads    31299
YouTube       31297
Website       31149
Facebook      30787
Name: count, dtype: int64
_______________
conversion_rate
00.1313    7383
0,11       7315
00.11      7266
0,03       7262
0,1        7235
00.0606    7227
00.0202    7226
0,04       7225
0,02       7200
00.0909    7183
0,06       7183
0,13       7173
00.1212    7169
0,12       7167
00.0404    7158
00.1111    7157
0,09       7157
0,08       7132
00.0808    7126
0,05       7118
00.1414    7089
0,07       7058
00.0505    7038
0,14       7027
00.0707    7003
00.0303    6992
0,15       3619
00.1515    3549
00.0101    3519
0,01       3515
Name: count, dtype: int64
_______________
acquisition_cost
$16,578.00    33
$6,570.00     30
$8,503.00     30
$17,380.00    29
$9,128.00     29
              ..
$9,912.00      3
$7,878.00      3
$14,068.00     2
$9,623.00      2
$18,117.00     2
Name: count, Length: 15001, dtype: int64
_______________
roi
6,05       189
7,43       186
77.4343    183
44.2222    182
5,95       181
          ...
3,93       105
22.00       76
88.00       74
8,0         72
2,0         62
Name: count, Length: 1202, dtype: int64
_______________
location
Miami          37240
Chicago        36972
Los Angeles    36897
New York       36779
Houston        36655
Name: count, dtype: int64
_______________
language
Mandarin    36841
Spanish     36747
German      36571
English     36424
French      36324
Name: count, dtype: int64
_______________
clicks
483,0        134
319,0        134
297,0        131
646,0        130
140,0        129
            ...
287,0         73
603603.00     73
277277.00     72
553,0         71
894894.00     71
Name: count, Length: 1802, dtype: int64
_______________
impressions
8037,0         25
42894289.00    25
67076707.00    25
9798,0         25
24032403.00    25
               ..
91009100.00     1
7088,0          1
6834,0          1
5522,0          1
6325,0          1
Name: count, Length: 18002, dtype: int64
_______________
engagement_score
5,0        9453
99.00      9436
22.00      9382
3,0        9381
2,0        9360
4,0        9348
44.00      9314
10,0       9309
9,0        9298
1,0        9291
1010.00    9284
66.00      9282
77.00      9282
88.00      9268
8,0        9256
7,0        9250
55.00      9224
33.00      9221
6,0        9219
11.00      9193
Name: count, dtype: int64
_______________
customer_segment
Foodies                39571
Tech Enthusiasts       39518
Outdoor Adventurers    39324
Health & Wellness      39212
Fashionistas           39138
Name: count, dtype: int64
_______________
date
2021-09-10    579
2021-09-03    575
2021-08-18    572
2021-05-07    571
2021-04-16    571
             ...
2021-04-11    542
2021-01-05    542
2021-11-23    542
2021-05-01    541
2021-05-31    539
Name: count, Length: 365, dtype: int64
_______________
total($)
$16,578.00    33
$6,570.00     30
$8,503.00     30
$17,380.00    29
$9,128.00     29
              ..
$9,912.00      3
$7,878.00      3
$14,068.00     2
$9,623.00      2
$18,117.00     2
Name: count, Length: 15001, dtype: int64
_______________

In [4]:
sp.valores_minuscula(df)

In [5]:
df['duration']=df['duration'].apply(lambda x: x.split()[0] if isinstance(x, str) else x)

In [6]:
sp.dolares(df, lista_col=['acquisition_cost', 'total($)'])

In [7]:
df['acquisition_cost'].equals(df['total($)'])
df.drop('acquisition_cost', axis=1, inplace=True)

In [8]:
coma=['conversion_rate', 'roi', 'clicks', 'impressions', 'engagement_score']

In [9]:
sp.comas(df, coma)

In [10]:
df['target_audience'].unique()

array(['men 18-24', 'women 35-44', 'men 25-34', 'all ages', nan,
       'women 25-34'], dtype=object)

In [11]:
df['genre']=df['target_audience'].apply(lambda x: x.split()[0] if isinstance(x, str) else x)
df['ages']=df['target_audience'].apply(lambda x: x.split()[1] if isinstance(x, str) else x)

In [12]:
df[['genre', 'ages']]=df['target_audience'].str.split(' ', expand=True)

In [13]:
df['genre']=df['genre'].replace('all',np.nan)
df['ages']=df['ages'].replace('ages','all_ages')
df.drop('target_audience', axis=1, inplace=True)

In [14]:
sp.convertir_columnas(df, '%Y-%m-%d')

In [19]:
df['year']=df['date'].dt.year
df['month']=df['date'].dt.month
df['day_name']=df['date'].dt.day_name()
df['quarter']=df['date'].dt.quarter

In [22]:
sp.valores_minuscula(df)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209915 entries, 0 to 209914
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   campaign_id       209915 non-null  int64
 1   company           194734 non-null  object
 2   campaign_type     191535 non-null  object
 3   duration          191309 non-null  float64
 4   channel_used      187421 non-null  object
 5   conversion_rate   200471 non-null  float64
 6   roi               173439 non-null  float64
 7   location          184543 non-null  object
 8   language          182907 non-null  object
 9   clicks            178736 non-null  float64
 10  impressions       188467 non-null  float64
 11  engagement_score  186051 non-null  float64
 12  customer_segment  196763 non-null  object
 13  date              203007 non-null  datetime64[ns]
 14  total($)          201832 non-null  float64
 15  genre             145058 non-null  object
 16  ages              181301 non-null  object
 17  year              203007 non-null  float64
 18  month             203007 non-null  float64
 19  day_name          203007 non-null  object
 20  quarter           203007 non-null  float64
dtypes: datetime64[ns](1), float64(10), int64(1), object(9)
memory usage: 33.6+ MB

In [25]:
df.to_csv('../data/data_limpios.csv', index=False)